$SoftRed: #ff3d3d;
$SoftBlue: #007eff;

.catalogAdmin {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 50px;
}

.Delete {
    background-color: $SoftRed;
}

.Edit {
    background-color: rgb(228, 176, 81);
}

.controlBoard {
    padding: 40px 0px 10px 0px;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 0.08fr 1fr 0.08fr;
    place-items: center;
    height: max-content;
    &__Data {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        &__TopData {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__BottomData {
            display: flex;
            justify-content: space-between;

            &__Select {
                width: 200px;
                margin-right: 50px;
            }
        }
    }
}

.adminMain {
    padding: 0px 0px 100px 0px;
}

.userInfo {
    font-weight: 700;
    font-size: 25px;
    span {
        font-weight: 400;
    }
}

.addObjBtn {
    min-width: 30px !important;
    width: 40px;
    height: 40px;
    background-color: $SoftBlue !important;
    &:hover {
        background-color: #0058af !important;
    }
    padding: 0px !important;
    img {
        width: 20px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    justify-self: flex-end;
    &:disabled {
        background-color: #6194c7 !important;
    }
}

.NewItem {
    display: flex;
    justify-content: space-between;
    &__InputImg {
        width: 200px;
        height: 200px;
        span {
            background-color: rgba(173, 173, 173, 0.315);
        }
        svg {
            width: 100px;
            height: 100px;
        }
    }

    &__TextInputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        #name {
            width: 50ch;
        }
    }

    &__SelectInput {
        height: max-content;
    }

    &__Buttons {
        display: flex;
        gap: 20px;
        height: max-content;
    }
}

.deleteConfirmationWrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

.deleteConfirmation {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    display: grid;
    place-items: center;
    gap: 20px;
    &__btnGroup {
        display: flex;
        gap: 20px;
    }
}

@media (max-width: 1100px) {
    .NewItem {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        background-color: white;
    }
}
