* {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

$SoftRed: #ff3d3d;
$SoftBlue: #007eff;

@font-face {
    font-family: "Roboto-Thin";
    src: url(../Fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../Fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../Fonts/Roboto-Bold.ttf);
}

p {
    font-family: "Roboto-Light";
    font-size: 18px;
}

.headerImg {
    height: 25px;
    transition: 300ms;
    grid-area: 1/2/2/3;
    &:hover {
        cursor: pointer;
    }
}

.header {
    display: grid;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    grid-template-columns: minmax(5px, 0.2fr) minmax(100px, 150px) minmax(80px, 1.4fr) minmax(100px, 1.1fr) minmax(
            5px,
            0.2fr
        );
    grid-template-rows: minmax(30px, 50px);
    flex-direction: row;
    padding: 20px 0px 20px 0px;
    position: sticky;
    place-items: center;
    gap: 10px;

    &__MainLogo {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            overflow: hidden;
        }
    }

    &__SearchBar {
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 10px 10px 5px;
        border-radius: 5px;
        width: 90%;
        &__SearchButton {
            background-color: transparent;
            border-style: none;
            border: 0;
        }

        &__SearchInput {
            border: 0;
            border-style: none;
            width: 100%;
            font-size: 18px;
            &:active,
            &:focus {
                outline: none;
            }
        }
    }

    &__UserStuffWrapper {
        display: flex;
        justify-self: flex-end;
        justify-content: flex-end;
        gap: 8%;
        &__Content {
            display: grid;
            grid-template-columns: auto auto;
            place-items: center;
            gap: 7px;
            p {
                transition: 300ms;
            }
            &:hover {
                p {
                    color: $SoftRed;
                    cursor: pointer;
                }
                .headerImg {
                    transition: 300ms;
                    filter: invert(77%) sepia(80%) saturate(7224%) hue-rotate(336deg) brightness(96%) contrast(110%);
                }
            }
        }
    }
}

.main {
    padding: 40px 0px 40px 0px;
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 0.08fr 1fr 0.08fr;
    place-items: center;
    &__GoodsTypes {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(28vh, 28vw));
        grid-template-rows: repeat(2, minmax(28vh, 28vw));
        grid-gap: 40px;
        &__Type {
            display: flex;
            flex-direction: column;
            border-radius: 2em;
            box-shadow: 0px 0px 20px rgb(216, 216, 216);
            align-items: center;
            padding: 20px 0px 0px 0px;
            width: 100%;
            gap: 10px;
            &__Img {
                height: 75%;
                -webkit-user-drag: none;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
            &__Title {
                font-size: 1.4em;
            }
        }
    }
}

.footer {
    display: flex;

    margin-top: 2em;
    height: auto;
    padding: 50px;
    background-color: black;
    justify-content: space-around;

    .SocialNetworks {
        display: flex;
        column-gap: 70px;
        .SocialWrapper {
            width: 100%;
            border-radius: 50px;
            &:hover {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.4);
                box-shadow: 0px 0px 40px white;
            }
            img {
                width: 70px;
            }
        }
    }

    .FlexParagraphs {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        column-gap: 1em;
        font-size: 2em;
        p {
            width: 40cx;
            &:hover {
                cursor: pointer;
                text-shadow: 0px 0px 10px white, 0px 0px 30px white;
            }
        }
    }
}

@media (max-width: 1100px) {
    .header {
        grid-template-columns: minmax(5px, 0.2fr) minmax(100px, 150px) minmax(80px, 2fr) 100px minmax(5px, 0.2fr);

        &__UserStuffWrapper__Text {
            display: none;
        }

        &__UserStuffWrapper {
            gap: 15px;
            &__Content {
                grid-template-columns: auto;
                gap: 0px;
            }
        }
    }

    .headerImg {
        height: 20px;
    }

    .main {
        &__GoodsTypes {
            grid-template-columns: repeat(2, minmax(20vh, 47vh));
            grid-template-rows: repeat(3, minmax(20vw, 43vw));
        }
    }
    .footer {
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 800px) {
    .main__GoodsTypes__Type {
        &__Title {
            font-size: 1em;
        }
        &__Description {
            font-size: 0.8em;
        }
    }
}

@media (max-width: 600px) {
    .main {
        &__GoodsTypes {
            grid-template-columns: repeat(1, minmax(20vh, 45vh));
            grid-template-rows: repeat(6, minmax(20vw, 78vw));
        }
    }
    .footer {
        padding: 30px;
        .SocialNetworks {
            column-gap: 25px;
            .SocialWrapper img {
                width: 40px;
            }
        }
        .FlexParagraphs {
            flex-direction: column;
            gap: 20px;
        }
    }
}
